html,body{
    height: 100%
}

#spaceGame{
	position: absolute;
	height: 100%;
	width: 100%;
	margin-top: -8px;
	margin-left: -8px;

}

.panel-left{
	position: relative;
	display: block;
	float: left;
	height: 100%;
	width: 70%;
	background-color: lightblue;
}

.panel-right{
	position: relative;
	display: block;
	float: right;
	height: 100%;
	width: 30%;
	background-color: gray;
}

.panel-userFB{
	position: relative;
	display: block;
	border: 2px solid blue;
	background-color: white;
	height: 200px;
	width: 90%;
	margin-left: 5%;
	margin-top: 5%;
}

.panel-userFB img{

}

.listItens{
	position: relative;
	display: inline-block;
	margin-top: 100px;
	height: 65%;
	width: 90%;
	margin-left: 5%;
}

.listItens select{
	position: relative;
	height: 100%;
	width: 100%;
}

.downButtons{
	position: fixed;
    bottom: 0;
    height: 50px;
    width: 70%;
}

.downButtons button{
	position: relative;
	height: 80%;
	width: 20%;
}